# NetBeans specific
# nbproject/private/
# build/
# nbbuild/
# dist/
# nbdist/
# nbactions.xml
# nb-configuration.xml
# build.xml
/java_fundamentals/threads/DigestRunnable/build/
/java_fundamentals/threads/DigestThread/build/
/java_fundamentals/threads/CallbackDigest/nbproject/private/
/java_fundamentals/threads/CallbackDigest/build/
/java_fundamentals/threads/InstanceCallbackDigest/nbproject/private/
/java_fundamentals/threads/InstanceCallbackDigest/build/
/java_fundamentals/threads/InstanceCallbackDigest/dist/
/java_fundamentals/threads/FindMaxTask/nbproject/private/
/java_fundamentals/threads/FindMaxTask/build/
/java_fundamentals/threads/FindMaxTask/dist/
/java_fundamentals/threads/GZipAllFiles/nbproject/private/
/java_fundamentals/threads/GZipAllFiles/build/
/java_fundamentals/threads/GZipAllFiles/dist/
/java_fundamentals/web_servlets/getstarted/nbproject/private/
/java_fundamentals/web_servlets/getstarted/build/
/java_fundamentals/web_servlets/ServletApi1/nbproject/private/
/java_fundamentals/web_servlets/ServletApi1/build/
/java_fundamentals/web_servlets/ServletApi1/dist/
/java_fundamentals/web_servlets/ServletApi2/nbproject/private/
/java_fundamentals/web_servlets/ServletApi2/build/
/java_fundamentals/web_servlets/ServletApi3/nbproject/private/
/java_fundamentals/web_servlets/ServletApi3/build/
/java_fundamentals/web_servlets/SessionMgt/nbproject/private/
/java_fundamentals/web_servlets/SessionMgt/build/
/java_fundamentals/web_servlets/JSPdemo/nbproject/private/
/java_fundamentals/web_servlets/JSPdemo/build/
/java_fundamentals/web_servlets/EL_Operations/nbproject/private/
/java_fundamentals/web_servlets/JavaStandardTagLib/nbproject/private/
/java_fundamentals/web_servlets/JavaStandardTagLib/build/
/java_fundamentals/web_servlets/JSTLcustomTagDemo/nbproject/private/
/java_fundamentals/web_servlets/JSTLcustomTagDemo/build/
/java_fundamentals/web_servlets/JSTLcustomTagDemo/dist/
/java_fundamentals/web_servlets/ELcustomTagDemo/nbproject/private/
/java_fundamentals/web_servlets/ELcustomTagDemo/build/
/java_fundamentals/web_servlets/JavaStandardTagLib/dist/
/java_fundamentals/web_servlets/ELcustomTagDemo/dist/
/java_fundamentals/web_servlets/JSP_Tag_File_demo/nbproject/private/
/java_fundamentals/web_servlets/JSP_Tag_File_demo/build/
/java_fundamentals/web_servlets/includeTagDemo/nbproject/private/
/java_fundamentals/web_servlets/includeTagDemo/build/
/java_fundamentals/web_servlets/variableDirectiveTag/nbproject/private/
/java_fundamentals/web_servlets/variableDirectiveTag/build/
/java_fundamentals/web_servlets/doBodyDemoTag/nbproject/private/
/java_fundamentals/web_servlets/doBodyDemoTag/build/
/java_fundamentals/web_servlets/invokeDemoTag/nbproject/private/
/java_fundamentals/web_servlets/invokeDemoTag/build/
/java_fundamentals/web_servlets/WebListener/nbproject/private/
/java_fundamentals/web_servlets/WebListener/build/
/java_fundamentals/web_servlets/FilterDemo/nbproject/private/
/java_fundamentals/web_servlets/FilterDemo/build/
/java_fundamentals/web_servlets/AppDesign1/nbproject/private/
/java_fundamentals/web_servlets/AppDesign1/build/
/java_fundamentals/web_servlets/AppDesign1/dist/
/java_fundamentals/web_servlets/AppDesign2/nbproject/private/
/java_fundamentals/web_servlets/AppDesign2/build/
/java_fundamentals/web_servlets/AppDesign2/dist/
/java_fundamentals/web_servlets/AppDesign3/nbproject/private/
/java_fundamentals/web_servlets/AppDesign3/build/
/java_fundamentals/web_servlets/AppDesign4/nbproject/private/
/java_fundamentals/web_servlets/AppDesign4/build/